.location-page{
    background-color: white;
}
.location-page .search-box {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ffffff;
    margin-bottom: 12px;
    font-size: 14px;
}

.location-page .map-container {
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.location-page .google-map {
    width: 100%;
    height: 350px;
}

.location-page .location-card {
    background: #ffffff;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);
}
.save-btn {
    width: 100%;
    padding: 14px;
    background-color: #2563eb;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.save-btn:hover {
    background-color: #1e40af;
}