.createuser {
    background-color: #fff;
}
.createuser .buttoncontainer{
    padding-left: 5px;
    width: 250px;
}
.createuser .addbtn {
    background-color: #717171;
    border: 0px;
    border-color: none;
    width: 100%;
    padding: 12px;
    color: #000000;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 8px;
}
.addbtn:hover {
    background-color: #989999;
}